.navbar {
  background: #020617;
  border-bottom: 1px solid #1e293b;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-right {
  display: flex;
  gap: 15px;
  color: #94a3b8;
}
.logout-btn {
  background: #dc2626;
  color: white;
  padding: 6px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #b91c1c;
}